#secretHitler {
    position: absolute;

    width: 100%;
    min-height: 100%;

    font-size: 11pt;

    background-color: #58865f;
}

#secretHitler .game-over {
    float: left;

    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;

    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

#secretHitler .game-over .Fascist {
    color: #b34040;
}

#secretHitler .game-over .Liberal {
    color: #646ad4;
}

#secretHitler .game-over .Hitler {
    color: darkred;
}

#secretHitler .game-over .fascist-list {
    margin-top: 10px;
}

#secretHitler .game-over ul.list {
    padding-left: 30px;
    margin: 2px 0;
}

#secretHitler .players {
    
}

#secretHitler .player-card {
    position: relative;
    float: left;

    width: 120px;
    height: 180px;

    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;

    border: 2px solid black;
    background-color: white;
    border-radius: 15px;
}

#secretHitler .player-card .name {
    font-size: 12pt;
}

#secretHitler .player-card.you .name {
    font-weight: bold;
}

#secretHitler .player-card .name.dead {
    text-decoration: line-through;
}

#secretHitler .player-card span {
    display: inline-block;
    padding: 3px;

    border-radius: 5px;
}

#secretHitler .player-card .president {
    margin-bottom: 5px;
    background-color: #CE7474;
}

#secretHitler .player-card .last-president {
    margin-bottom: 5px;
    background-color: #E1B1B1;
}

#secretHitler .player-card .chancellor {
    margin-bottom: 5px;
    background-color: #7F84D1;
}

#secretHitler .player-card .last-chancellor {
    margin-bottom: 5px;
    background-color: #B4B7E0;
}

#secretHitler .player-card ul.inspected-list {
    padding-left: 30px;
    margin: 2px 0;

    font-size: 10pt;
}

/* Votes */
#secretHitler .player-card .vote-box {
    position: absolute;
    bottom: 5px;
}

#secretHitler .player-card .vote-yes, #secretHitler .player-card .vote-no {
    font-weight: bold;
}

/* Board */
#secretHitler .board {
    height: 290px;
    width: 680px;

    padding: 30px;
    margin-left: 100px;

    background-color: #3d6543;
    border-radius: 60px;
}

#secretHitler .board .left, #secretHitler .board .center, #secretHitler .board .right {
    float: left;
}

/* Left, Right */
#secretHitler .board .policy-deck, #secretHitler .board .policy-discard {
    width: 60px;
    height: 75px;

    padding: 30px 5px 5px 5px;
    margin-left: 20px;
    margin-top: 80px;

    text-align: center;

    border: 3px solid black;
    border-radius: 8px;

    background-color: white;
}

/* Center */
#secretHitler .board .fascist-policies, #secretHitler .board .liberal-policies {
    height: 130px;
    margin-left: 20px;
}

#secretHitler .board .policy-card {
    float: left;

    width: 70px;
    height: 60px;

    text-align: center;
    font-size: 8pt;
    color: #303030;

    padding: 25px 0px;
}

#secretHitler .board .policy-card .presidential-power {
    height: 40px;
}

#secretHitler .board .fascist-policies > .policy-card {
    border-top: 6px solid #ae2a2a;
    border-right: 6px solid #ae2a2a;
    border-bottom: 6px solid #ae2a2a;

    background-color: #ae8484;
}

#secretHitler .board .fascist-policies > .policy-card.fill {
    background-color: #b13636;
}

#secretHitler .board .fascist-policies > .policy-card:first-child {
    border-left: 6px solid #ae2a2a;
}

#secretHitler .board .liberal-policies > .policy-card {
    border-top: 6px solid #646ad4;
    border-right: 6px solid #646ad4;
    border-bottom: 6px solid #646ad4;

    background-color: #9fa2d3;
}

#secretHitler .board .liberal-policies > .policy-card.fill {
    background-color: #6e73d3;
}

#secretHitler .board .liberal-policies > .policy-card:first-child {
    border-left: 6px solid #646ad4;
    margin-left: 30px;
}

/* Eviction marker */
#secretHitler .board .failed-elections {
    height: 40px;

    margin-left: 115px;
}

#secretHitler .board .failed-elections .election-marker {
    float: left;

    width: 30px;
    height: 30px;

    margin-left: 20px;

    border: 4px solid #323232;
    border-radius: 30px;
    
    background-color: #B7B7B7;
}

#secretHitler .board .failed-elections .election-marker.fill {
    background-color: #3F3F3F;
}

/* Private information */
#secretHitler .private-information {
    float: left;

    width: 300px;

    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;

    border: 2px solid black;
    border-radius: 30px;

    background-color: white;
}

#secretHitler .private-information .Liberal {
    color: blue;
}

#secretHitler .private-information .Fascist {
    color: red;
}

#secretHitler .private-information .Hitler {
    color: darkred;
}

#secretHitler .private-information ul.friend-list {
    padding-left: 30px;
    margin: 2px 0;
}

#secretHitler .private-information .policy-peek-card {
    padding: 2px 5px;
    margin-left: 5px;

    border-radius: 5px;
}

#secretHitler .private-information .policy-peek-card.fascist {
    background-color: #b34040;
}

#secretHitler .private-information .policy-peek-card.liberal {
    background-color: #646ad4;
}

/* Action panel */
#secretHitler .action-panel {
    width: 500px;
    padding: 20px 20px 10px 20px;
    margin-top: 20px;
    margin-left: 400px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
}

#secretHitler .action-panel .history:before {
    content: "Last action: ";
}

#secretHitler .action-panel .history {
    margin-bottom: 5px;

    color: #3d3d3d;
}

#secretHitler .action-panel .history .fascist {
    color: #b34040;
}

#secretHitler .action-panel .history .liberal {
    color: #646ad4;
}

#secretHitler .action-panel .desc {
    margin-bottom: 10px;
}

#secretHitler .action-panel .policy-checkbox {
    padding: 2px;
    margin-left: 5px;

    border-radius: 5px;
}

#secretHitler .action-panel .policy-checkbox.fascist {
    background-color: #b34040;
}

#secretHitler .action-panel .policy-checkbox.liberal {
    background-color: #646ad4;
}

#secretHitler .action-panel button {
    margin: 0 0 10px 10px;
}