<h2>Secret Hitler!</h2>

<h3>Playerstate:</h3>
<div>{{player.name}} - {{player.id}}</div>
<div>{{player.state.role}} with {{player.state.teammates}}</div>
<div>{{player.state.policyCards}}</div>
<div>Policy Peek: {{player.state.policyPeek}}</div>
<div>Dead: {{player.state.isDead}}</div>

<h3>Gamestate:</h3>
<div>Phase: {{game.phase}}</div>
<div>President: {{game.president}} - LastPresident: {{game.lastPresident}}</div>
<div>Chancellor: {{game.chancellor}} - LastChancellor: {{game.lastChancellor}}</div>
<div>Fascist policies: {{game.nrOfFascistPolicies}} - Liberal policies: {{game.nrOfLiberalPolicies}}</div>
<div>Deck: {{game.policyDeck}} - Discard: {{game.policyDiscard}}</div>
<div>Failed Evictions: {{game.failedEvictions}}</div>
<div>Already vetoes: {{game.alreadyVetoed}}</div>

<h3>Buttons:</h3>
<div ng-show="game.phase === 0">
    Set Chancellor <button ng-repeat="player in game.players" ng-click="setChancellor(player.id)">{{player.name}}</button>
</div>
<div ng-show="game.phase === 1">
    <button ng-click="voteForChancellor(true)">Ja!</button>
    <button ng-click="voteForChancellor(false)">Nein!</button>
</div>
<div ng-show="game.phase === 2">
    <label ng-repeat="policy in player.state.presidentPolicyCards">
        <input type="checkbox" value="{{policy}}" ng-model="checkboxModel.presidentPolicyCards[$index]" />
        {{policy}}
    </label>
    <button ng-click="choosePresidentialPolicyCards(checkboxModel.presidentPolicyCards)">Select 2 Policies</button>
</div>
<div ng-show="game.phase === 3">
    <label ng-repeat="policy in player.state.chancellorPolicyCards">
        <input type="checkbox" value="{{policy}}" ng-model="checkboxModel.chancellorPolicyCards[$index]" />
        {{policy}}
    </label>
    <button ng-click="chooseChancellorPolicyCards(checkboxModel.chancellorPolicyCards)">Select Policy</button>
    <button ng-click="veto()">Veto</button>
</div>
<div ng-show="game.phase === 4">
    <div>
        <button ng-click="policyPeek()">Policy Peek</button>
    </div>
    <div>Execute 
        <button ng-repeat="player in game.players" ng-click="execute(player.id)">{{player.name}}</button>
    </div>
    <div>Inspect loyalty of 
        <button ng-repeat="player in game.players" ng-click="inspectLoyalty(player.id)">{{player.name}}</button>
    </div>
    <div>Special elect 
        <button ng-repeat="player in game.players" ng-click="specialElection(player.id)">{{player.name}}</button>
    </div>
</div>