<div id="secretHitler">
    <h2>Secret Hitler!</h2>

    <div class="game-over" ng-show="game.isOver">
        <span ng-show="gameOver.wonByPolicies && gameOver.fascistsWon"><span class="Fascist">Fascists</span> win with 6 fascist policies.</span>
        <span ng-show="gameOver.wonByPolicies && !gameOver.fascistsWon"><span class="Liberal">Liberals</span> win with 5 liberal policies.</span>
        <span ng-show="!gameOver.wonByPolicies && gameOver.fascistsWon"><span class="Fascist">Fascists</span> win with Hitler as chancellor.</span>
        <span ng-show="!gameOver.wonByPolicies && !gameOver.fascistsWon"><span class="Liberal">Liberals</span> win after killing Hitler.</span>
        <div class="fascist-list">
            Featuring:
            <ul class="list">
                <li ng-repeat="fascist in gameOver.fascistTeam">
                    {{playerNames[fascist.id]}} as
                    <span class="Hitler" ng-show="fascist.isHitler">Hitler</span>
                    <span class="Fascist" ng-show="!fascist.isHitler">Fascist</span>
                </li>
            </ul>
        </div>
    </div>
    <div style="clear: both"></div>

    <div class="players">
        <div ng-repeat="p in game.players" class="player-card" ng-class="p.id === player.id ? 'you' : ''">
            <div class="name" ng-class="p.state.isDead ? 'dead': ''">{{p.name}}</div>
            <hr />
            <div class="body">
                <div>
                    <div ng-show="p.state.isNotHitler || p.state.isDead">is not Hitler</div>
                    <div ng-show="p.state.isDead">but dead...</div>
                </div>
                <div>
                    <div ng-show="p.id === game.lastChancellor"><span class="last-chancellor">Last Chancellor</span></div>
                    <div ng-show="p.id === game.lastPresident"><span class="last-president">Last President</span></div>
                    <div ng-show="p.id === game.chancellor"><span class="chancellor">Chancellor</span></div>
                    <div ng-show="p.id === game.president"><span class="president">President</span></div>
                </div>
                <div ng-show="p.state.inspectedPlayers.length > 0">
                    Inspected:
                    <ul class="inspected-list">
                        <li ng-repeat="inspectedPlayer in p.state.inspectedPlayers">
                            {{playerNames[inspectedPlayer.id]}}
                        </li>
                    </ul>
                </div>
                <div ng-hide="p.state.isDead" class="vote-box">
                    <div ng-show="p.state.voted && game.phase === 1">has voted</div>
                    <div ng-show="game.playerVotes.length > 0">
                        Voted
                        <span class="vote-yes" ng-show="game.playerVotes[$index].votedFor">"Ja!"</span>
                        <span class="vote-no" ng-show="!game.playerVotes[$index].votedFor">"Nein!"</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>

    <div class="board">
        <div class="left">
            <div class="policy-deck" title="Policy deck">
                Deck<br />
                {{game.policyDeck}}
            </div>
        </div>
        <div class="center">
            <div class="fascist-policies">
                <div class="policy-card" ng-class="game.nrOfFascistPolicies >= 1 ? 'fill' : ''">
                    <span ng-show="game.players.length > 8">Investigate Loyalty</span>
                    <!--<span style="font-size: 16pt;">&#9312;</span>-->
                </div>
                <div class="policy-card" ng-class="game.nrOfFascistPolicies >= 2 ? 'fill' : ''">
                    <span ng-show="game.players.length > 6">Investigate Loyalty</span>
                </div>
                <div class="policy-card" ng-class="game.nrOfFascistPolicies >= 3 ? 'fill' : ''">
                    <div class="presidential-power">
                        <span ng-show="game.players.length <= 6">Policy Peek</span>
                        <span ng-show="game.players.length > 6">Special Election</span>
                    </div>
                    <span>Hitler can win</span>
                </div>
                <div class="policy-card" ng-class="game.nrOfFascistPolicies >= 4 ? 'fill' : ''">
                    Execution
                </div>
                <div class="policy-card" ng-class="game.nrOfFascistPolicies >= 5 ? 'fill' : ''">
                    <div class="presidential-power">
                        Execution
                    </div>
                    Veto Power
                    </div>
                <div class="policy-card" ng-class="game.nrOfFascistPolicies >= 6 ? 'fill' : ''"></div>
            </div>
            <div class="liberal-policies">
                <div class="policy-card" ng-class="game.nrOfLiberalPolicies >= 1 ? 'fill' : ''"></div>
                <div class="policy-card" ng-class="game.nrOfLiberalPolicies >= 2 ? 'fill' : ''"></div>
                <div class="policy-card" ng-class="game.nrOfLiberalPolicies >= 3 ? 'fill' : ''"></div>
                <div class="policy-card" ng-class="game.nrOfLiberalPolicies >= 4 ? 'fill' : ''"></div>
                <div class="policy-card" ng-class="game.nrOfLiberalPolicies >= 5 ? 'fill' : ''"></div>
            </div>
            <div class="failed-elections" title="Election tracker">
                <div class="election-marker" ng-class="game.failedElections >= 1 ? 'fill' : ''"></div>
                <div class="election-marker" ng-class="game.failedElections >= 2 ? 'fill' : ''"></div>
                <div class="election-marker" ng-class="game.failedElections >= 3 ? 'fill' : ''"></div>
                <div class="election-marker" ng-class="game.failedElections >= 4 ? 'fill' : ''"></div>
            </div>
        </div>
        <div class="right">
            <div class="policy-discard" title="Policy discard pile">
                Discard<br />
                {{game.policyDiscard}}
            </div>
        </div>
    </div>
    <div style="clear: both"></div>

    <div class="private-information">
        <!-- role, party, mates, policy peek, inspections -->
        <div>Private Information <button ng-model="privateInformationToggle" ng-click="privateInformationToggle = !privateInformationToggle">Show/Hide</button></div>
        <div ng-show="privateInformationToggle">
            <hr />
            <div>You are {{player.state.role !== "Hitler" ? "a": ""}} <span ng-class="player.state.role">{{player.state.role}}</span>.</div>
            <div ng-show="player.state.teammates.length > 0">
                Friends:
                <ul class="friend-list">
                    <li ng-repeat="mate in player.state.teammates" ng-hide="mate.id === player.id">
                        {{playerNames[mate.id]}} as
                        <span class="Hitler" ng-show="mate.isHitler">Hitler</span>
                        <span class="Fascist" ng-show="!mate.isHitler">Fascist</span>
                    </li>
                </ul>
            </div>
            <div ng-show="player.state.inspectedPlayers.length > 0">
                Inspected players:
                <ul class="friend-list">
                    <li ng-repeat="inspectedPlayer in player.state.inspectedPlayers">
                        {{playerNames[inspectedPlayer.id]}} as <span ng-class="inspectedPlayer.partyMembership">{{inspectedPlayer.partyMembership}}</span>
                    </li>
                </ul>
            </div>
            <div ng-show="player.state.policyPeek.length > 0">
                Policy peek: 
                <span ng-repeat="policy in player.state.policyPeek" class="policy-peek-card" ng-class="policy < 11 ? 'fascist' : 'liberal'">{{policy < 11 ? "Fascist" : "Liberal"}}</span>
            </div>
        </div>
    </div>

    <div class="action-panel">
        <div ng-show="game.phase === 0">
            <!-- history: last policy (fascist / liberal), veto success, failed vote (with / without policy) -->
            <div class="history">
                <span ng-show="game.voteFailed">Election failed. </span>
                <span ng-show="!(game.nrOfFascistPolicies === 0 && game.nrOfLiberalPolicies === 0) && game.failedElections === 0">
                    A 
                    <span class="fascist" ng-show="game.wasLastPolicyFascist">fascist</span>
                    <span class="liberal" ng-show="!game.wasLastPolicyFascist">liberal</span>
                    policy was enacted.
                </span>
                <span ng-show="game.successfullVeto">Agenda has been vetoed.</span>
                <span ng-show="game.president !== player.id">{{playerNames[game.president]}} is </span>
                <span ng-show="game.president === player.id">You are </span>
                now the president.
            </div>
            <div class="desc">
                <span ng-show="game.president !== player.id">{{playerNames[game.president]}} has </span>
                <span ng-show="game.president === player.id"><b>You</b> have </span>
                to nominate the next chancellor.
            </div>
            <div ng-show="player.id === game.president">
                Set Chancellor <button ng-repeat="p in game.players" ng-disabled="canBeChancellor(p)" ng-click="setChancellor(p.id)">{{p.name}}</button>
            </div>
        </div>
        <div ng-show="game.phase === 1">
            <div class="history">
                <span ng-show="game.president !== player.id">{{playerNames[game.president]}} has </span>
                <span ng-show="game.president === player.id">You have </span>
                nominated {{playerNames[game.chancellor]}} for chancellor.
            </div>
            <div ng-show="!player.state.isDead">
                <div ng-show="!player.state.voted">
                    <div class="desc">{{playerNames[game.president]}} as president and {{playerNames[game.chancellor]}} as chancellor? Your vote counts!</div>
                    <button ng-click="voteForChancellor(true)">Ja!</button>
                    <button ng-click="voteForChancellor(false)">Nein!</button>
                </div>
                <div ng-show="player.state.voted">
                    <div class="desc">Waiting for other players to vote.</div>
                </div>
            </div>
        </div>
        <div ng-show="game.phase === 2">
            <div class="history">
                You have voted 
                <span ng-show="game.chancellor !== player.id">{{playerNames[game.president]}} </span>
                <span ng-show="game.chancellor === player.id">yourself </span>
                into goverment.
            </div>
            <div class="desc">
                <span ng-show="game.president !== player.id">{{playerNames[game.president]}} has </span>
                <span ng-show="game.president === player.id"><b>You</b> have </span>
                to select 2 of the 3 policy cards.
            </div>
            <label ng-repeat="policy in player.state.presidentPolicyCards" ng-show="game.president === player.id" class="policy-checkbox" ng-class="policy < 11 ? 'fascist' : 'liberal'">
                <input type="checkbox" value="{{policy}}" ng-model="checkboxModel.presidentPolicyCards[$index]" />
                <span ng-show="policy < 11">Fascist</span>
                <span ng-show="policy >= 11">Liberal</span>
            </label>
            <button ng-show="game.president === player.id" ng-click="choosePresidentialPolicyCards(checkboxModel.presidentPolicyCards)">Select 2 Policies</button>
        </div>
        <div ng-show="game.phase === 3 && !game.chancellorVetoed">
            <div class="history" ng-show="!game.alreadyVetoed">
                <span ng-show="game.president !== player.id">{{playerNames[game.president]}} has </span>
                <span ng-show="game.president === player.id">You have </span>
                selected 2 out of 3 policy cards for 
                <span ng-show="game.chancellor !== player.id">{{playerNames[game.chancellor]}}.</span>
                <span ng-show="game.chancellor === player.id">you.</span>
            </div>
            <div class="history" ng-show="game.alreadyVetoed">
                <span ng-show="game.president !== player.id">{{playerNames[game.president]}} has </span>
                <span ng-show="game.president === player.id">You have </span>
                denied the veto.
            </div>
            <div class="desc">
                <span ng-show="game.chancellor !== player.id">{{playerNames[game.chancellor]}} has </span>
                <span ng-show="game.chancellor === player.id"><b>You</b> have </span>
                to select 1 of the 2 policy cards
                <span ng-show="game.nrOfFascistPolicies >= 5 && !game.alreadyVetoed"> or use the veto power</span>
                .
            </div>
            <div ng-show="game.chancellor === player.id">
                <label ng-repeat="policy in player.state.chancellorPolicyCards" class="policy-checkbox" ng-class="policy < 11 ? 'fascist' : 'liberal'">
                    <input type="checkbox" value="{{policy}}" ng-model="checkboxModel.chancellorPolicyCards[$index]" />
                    <span ng-show="policy < 11">Fascist</span>
                    <span ng-show="policy >= 11">Liberal</span>
                </label>
                <button ng-click="chooseChancellorPolicyCards(checkboxModel.chancellorPolicyCards)">Select Policy</button>
                <button ng-show="game.nrOfFascistPolicies >= 5 && !game.alreadyVetoed" ng-click="veto(true)">Veto</button>
            </div>
        </div>
        <!-- veto special case -->
        <div ng-show="game.phase === 3 && game.chancellorVetoed && !game.alreadyVetoed">
            <div class="history">
                <span ng-show="game.chancellor !== player.id">{{playerNames[game.chancellor]}} has </span>
                <span ng-show="game.chancellor === player.id">You have </span>
                used the veto power.
            </div>
            <div class="desc">
                <span ng-show="game.president !== player.id">{{playerNames[game.president]}} has </span>
                <span ng-show="game.president === player.id"><b>You</b> have </span>
                consent to the veto or deny it.
            </div>
            <div ng-show="game.president === player.id">
                <button ng-click="veto(true)">Consent to veto</button>
                <button ng-click="veto(false)">Deny veto</button>
            </div>
        </div>
        <!-- veto special case END -->
        <div ng-show="game.phase === 4">
            <div class="history">
                <span ng-show="game.chancellor !== player.id">{{playerNames[game.chancellor]}} has </span>
                <span ng-show="game.chancellor === player.id">You have </span>
                selected as fascist policy.
            </div>
            <div class="desc">
                <span ng-show="game.president !== player.id">{{playerNames[game.president]}} has </span>
                <span ng-show="game.president === player.id"><b>You</b> have </span>
                the presdidential power:
                <b>
                    <span ng-show="policyPeekEnabled(game.players.length, game.nrOfFascistPolicies)">Policy peek</span>
                    <span ng-show="investigateLoyaltyEnabled(game.players.length, game.nrOfFascistPolicies)">Invetigate loyalty</span>
                    <span ng-show="specialElectionEnabled(game.players.length, game.nrOfFascistPolicies)">Special election</span>
                    <span ng-show="executionEnabled(game.players.length, game.nrOfFascistPolicies)">Execution</span>
                </b>
            </div>
            <div ng-show="player.id === game.president">
                <div ng-show="policyPeekEnabled(game.players.length, game.nrOfFascistPolicies)">
                    <button ng-click="policyPeek()">Policy Peek</button>
                </div>
                <div ng-show="investigateLoyaltyEnabled(game.players.length, game.nrOfFascistPolicies)">
                    Inspect loyalty of
                    <button ng-repeat="p in game.players" ng-click="inspectLoyalty(p.id)" ng-disabled="p.id === player.id || p.state.isDead">{{p.name}}</button>
                </div>
                <div ng-show="specialElectionEnabled(game.players.length, game.nrOfFascistPolicies)">
                    Special elect
                    <button ng-repeat="p in game.players" ng-click="specialElection(p.id)" ng-disabled="p.id === player.id || p.state.isDead">{{p.name}}</button>
                </div>
                <div ng-show="executionEnabled(game.players.length, game.nrOfFascistPolicies)">
                    Execute
                    <button ng-repeat="p in game.players" ng-click="execute(p.id)" ng-disabled="p.id === player.id || p.state.isDead">{{p.name}}</button>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both; height: 30px"></div>
</div>